@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --fs16: 16px;
  --primary-red: #fa0400;
}

body {
  font-family: var(--font-montserrat);
  font-size: var(--fs16);
  line-height: 1.6;
}

.text_primary {
  color: var(--primary-red);
}

.bg_primary {
  background-color: var(--primary-red);
}



.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


.swiper-button-next,
.swiper-button-prev {
  color: #222 !important;
  height: 35px !important;
  width: 35px !important;
  font-weight: 800 !important;
  padding: 5px;
  background: rgba(255, 255, 255, 0.35) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border-radius: 9999px !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  transition: all 0.3s ease !important;
  z-index: 10 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.6) !important;
  color: #000 !important;
  transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: 900 !important;
}

